<style>
* {
	font-family: times;
}
.header p {
	margin: 0;
}

.header div.right{
	position: absolute;
	right: 0;
}

.maitrise-header {
	font-size: 11px;
	font-style: italic;
}

.maitrise-header p {
	margin: 0;
}

.maitrise-header .right {
	position: absolute;
	right: 100px;
	top: 55px;
}

.maitrise-header .left {
	position: absolute;
	left: 0;
	top: 55px;
}

.maitrise-header img.logo {
	height: 80px;
}

.maitrise-header .main {
	position: relative;
	left: 100px;
	top: 25px;
}

.maitrise-title {
	font-size: 13px;
	text-align:center;
	text-decoration: underline;
	margin-top: 50px;
}

.maitrise-presence p {
	margin: 4px;
}

.maitrise-odj, .content {
	font-size: 13px;
}

.maitrise-odj .title {
	border-bottom: 1px solid black;
	padding-top: 15px;
	font-style: italic;
}

.maitrise-odj .title .number {
	display: inline;
	width: 5%;
}

.maitrise-odj .title .name {
	display: inline;
	width: 90%;
}

</style>

<div class="maitrise-header">
	<div class="right">
		<img class="logo" src="./bundles/interneseance/img/logo_scouts.png" alt="Logo GO"/>
	</div>
	<div class="left">
		<img class="logo" src="./bundles/interneseance/img/logo.jpg" alt="Logo GO"/>
	</div>
	<div class="main">
		<p><strong><i>Responsable de Groupe</i></strong></p>
		<p>Florian Alonso / Cabiai</p>
		<p>ch. des Grands-Champs 12</p>
		<p>1033 Cheseaux</p>
		<p>079 388 14 02</p>
		<p><a href="mailto:cg@grandeourse.ch">cg@grandeourse.ch</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.grandeourse.ch/">www.grandeourse.ch</a></p>
	</div>
</div>

<h1 class="maitrise-title">{{ meeting.name }}</h1>

<!--
<div class="maitrise-presence">
	<p>Présents:</p>
	<p>Excusés:</p>
	<p>Absents:</p>
</div>
-->


	<h4>Ordre du jour</h4>
    {% for item in meeting.items %}
    	<div class="maitrise-odj">
	        <div class="title">
	        	<div class="number">{{ item.position + 1 }}</div>
	            <div class="name">{{ item.title }}</div>
	        </div>
	    </div>
    	<div>&nbsp;</div>
        {{ item.description | raw }}
    {% endfor %}
