{% raw %}
<div class="sixteen wide column">
    <div class="ui menu">
        <a class="item" ng-class="getActiveMenuItemClass('/home')" ui-sref="root.home"><i class="home icon"></i> Home</a>
        <a class="item" ng-class="getActiveMenuItemClass('/meeting/add')" ui-sref="root.meeting.add"><i class="plus icon"></i> Nouvelle réunion</a>
        <div class="ui popup-activate item" ng-init="toPopup({inline:true, hoverable:true, position:'bottom center', on:'click', delay: {show: 150, hide:500}})">
            <i class="inbox icon"></i> Réserve <i class="dropdown icon"></i>
            <div class="ui floating blue circular label">{{ stack.length }}</div>
        </div>
        <div class="ui popup" style="width: 247.210px;">
            <p ng-show="stack.length == 0">Pas de points ici !</p>
            <div class="ui small action input" ng-keypress="addItem($event)">
                <input placeholder="Entrer un point" type="text" ng-model="form.item">
                <button class="ui icon button" ng-click="addItem($event)"><i class="plus icon"></i></button>
            </div>
            <div ng-show="stack.length > 0">
                <div class="ui large two labels">
                    <div class="ui label" ng-repeat="item in stack">
                        {{ item.title }}
                        <i class="delete icon" ng-click="removeItem(item)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="right menu">
            <div class="item">
              <div class="ui transparent icon input">
                <input placeholder="Rechercher une réunion..." type="text" ng-model="$parent.search">
                <i class="search link icon"></i>
              </div>
            </div>
            <!--
            <a class="item"><i class="settings icon"></i></a>
            <div class="item">
                <div class="ui toggle checkbox" ng-init="toCheckbox()">
                    <input name="offline" type="checkbox" />
                    <label>Mode Hors-Ligne</label>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
{% endraw %}