    
    <div ui-view="stackView" class="sixteen wide column">

    </div>
    
    <div ui-view="meetingListActiveView" class="eight wide column">

    </div>

    <div ui-view="meetingListPastView" class="eight wide column">

    </div>