<h2 class="ui dividing header">
    <i class="circular calendar icon"></i>
    <div class="content">
    Préparer une réunion
    </div>
</h2>

<form class="ui form">
    <div class="ui fluid input">
        <input type="text" placeholder="Nom" />
    </div>
    <div class="ui fluid input">
        <input type="text" placeholder="Date et heure" />
    </div>
    <div class="ui fluid input">
        <input type="text" placeholder="Lieu" />
    </div>
    <h4 class="ui dividing header">Ordre du jour</h4>
    <div class="ui action input">
        <input placeholder="Entrer un point" type="text">
        <button class="ui button"><i class="plus icon"></i></button>
    </div>
</form>