{% extends "AppBundle:Layout:layout.html.twig" %}

{% block titre %}Gestionnaire de séance{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <h1>Gestionnaire de séance - Static demo </h1>


            <div class="twelve wide column">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
