{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Gestionnaire de séance{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <h1>Gestionnaire de séance - Static demo </h1>


            <div class="twelve wide column">
                Démonstration des pages en statique
                <div class="ui list">
                    <a class="item">
                        <i class="right triangle icon"></i>
                        <div class="content">
                            <div class="header">Ordre du jour de la séance</div>
                            <div class="description">lien...</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
