{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Gestionnaire de séance{% endblock %}

{% block content %}

    <div ui-view class="ui page grid" ng-app="seanceApp">
    </div>

    <!--
    <script>
    $(document).ready(function(){
        $('.card-popup').popup({})
    });
    </script>
    -->


{% endblock %}

{% block css %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/angular-xeditable/dist/css/xeditable.css'
        '@InterneSeanceBundle/Resources/public/css/style.css'
        '@InterneSeanceBundle/Resources/public/css/jquery.datetimepicker.css'

        output='css/seance.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/skin.min.css'

        output='js/skins/lightgray/skin.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/content.min.css'

        output='js/skins/lightgray/content.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block fonts %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/fonts/tinymce.ttf'
        output='js/skins/lightgray/fonts/tinymce.ttf' %}
    {% endstylesheets %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/fonts/tinymce.woff'
        output='js/skins/lightgray/fonts/tinymce.woff' %}
    {% endstylesheets %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/fonts/tinymce.svg'
        output='js/skins/lightgray/fonts/tinymce.svg' %}
    {% endstylesheets %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/fonts/tinymce.eot'
        output='js/skins/lightgray/fonts/tinymce.eot' %}
    {% endstylesheets %}
{% endblock %}

{% block js %}
    {% javascripts
    '@InterneSeanceBundle/Resources/public/bower_components/angular/angular.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/angular-sanitize/angular-sanitize.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/angular-ui-router/release/angular-ui-router.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/tinymce.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/ngstorage/ngStorage.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/themes/modern/theme.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/angular-ui-tinymce/src/tinymce.js'
    '@InterneSeanceBundle/Resources/public/bower_components/angular-ui-sortable/sortable.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/jquery-ui/jquery-ui.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/angular-xeditable/dist/js/xeditable.min.js'
    '@InterneSeanceBundle/Resources/public/js/seanceApp.js'
    '@InterneSeanceBundle/Resources/public/js/filters/*'
    '@InterneSeanceBundle/Resources/public/js/config/*'
    '@InterneSeanceBundle/Resources/public/js/models/*'
    '@InterneSeanceBundle/Resources/public/js/services/MeetingService.js'
    '@InterneSeanceBundle/Resources/public/js/services/ContainerService.js'
    '@InterneSeanceBundle/Resources/public/js/services/ItemService.js'
    '@InterneSeanceBundle/Resources/public/js/services/TagService.js'
    '@InterneSeanceBundle/Resources/public/js/services/APIService.js'
    '@InterneSeanceBundle/Resources/public/js/controllers/*'
    '@InterneSeanceBundle/Resources/public/js/jquery.datetimepicker.full.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
    '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/plugins/autoresize/plugin.min.js'
    output="js/plugins/autoresize/plugin.min.js"
    %}
    {% endjavascripts %}
{% endblock %}
