{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Créer un tag{% endblock %}

{% block content %}

    <div class="ui page grid">
        <div class="row">
            <h1>Créer un tag</h1>


            <div class="twelve wide column">

                Hello {{ name }} !

            </div>
        </div>
    </div>


{% endblock %}
