{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Gestionnaire de séance{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
    $('.menu .item').tab();
    $('.ui.sticky').sticky({context: '#example1'});
});
</script>
    <div class="ui page grid">
        <div class="row">
            <h1>Gestionnaire de séance - Static demo </h1>
            <h1>Séance du 01 Janvier 2015 </h1>
            <div class="twelve wide column ui segment" id="example1">
                  <div class="right ui rail" >
                    <div class="ui sticky">
                      <h3>Administration</h3>
                      <div class="ui labeled icon vertical buttons">
                          <button class="disabled olive ui button ">
                              <i class="send icon"></i>Envoyer un rappel
                          </button>
                          <button class="ui button green">
                              <i class="write icon"></i> Éditer l'ordre du jour
                          </button>
                          <button class="ui green button">
                              <i class="write icon"></i>Écrire le PV
                          </button>
                          <button class="ui yellow button">
                              <i class="send icon"></i>Envoyer le PV
                          </button>
                        </div>
                    </div>
                  </div>
                  <div class="ui three top attached ordered steps">
                      <div class="completed step">
                          <div class="content">
                              <div class="title">Ordre du jour</div>
                              <div class="description">L'ordre du jour a été écrit </div>
                          </div>
                      </div>
                      <div class="completed step">
                          <div class="content">
                              <div class="title">Convocation</div>
                              <div class="description">Les invitations à la séance ont étés envoyées</div>
                          </div>
                      </div>
                      <div class="active step">
                          <div class="content">
                              <div class="title">Procès verbal</div>
                              <div class="description">Le procès verbal n'a pas encore été écrit</div>
                          </div>
                      </div>
                  </div>
                <div class="ui pointing secondary menu">
                  <a class="item active" data-tab="first">Ordre du jour</a>
                  <a class="item" data-tab="second">Procès verbal</a>
                  <a class="item" data-tab="third">Présences</a>
                </div>
                <div class="ui tab segment active" data-tab="first">
                    <div class="ui list">
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">Tour des branches</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">Soirée des parents</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">Noël de groupe</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">Formation J+S</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="second">
                  Second
                </div>
                <div class="ui tab segment" data-tab="third">
                  Third
                </div>
            </div>
        </div>
    </div>


{% endblock %}
