{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Gestionnaire de séance{% endblock %}

{% block content %}
    <div class="ui page grid">
        <div class="row">
            <h1>Gestionnaire de séance - Static demo </h1>
            <h1>Séance du 01 Janvier 2015 </h1>
            <div class="twelve wide column ui segment" id="example1">
                  <div class="right ui rail" >
                    <div class="ui sticky">
                      <h3>Administration</h3>
                      <div class="ui labeled icon vertical buttons">
                          <button class="disabled olive ui button ">
                              <i class="send icon"></i>Envoyer un rappel
                          </button>
                          <button class="ui green button">
                              <i class="send icon"></i>Envoyer le PV
                          </button>
                        </div>
                        <h3>Ordre du jour</h3>
                        <div class="ui list">
                            <a class="item" href="#p1">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Tour des branches</div>
                                </div>
                            </a>
                            <a class="item" href="#p2">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Soirée des parents</div>
                                </div>
                            </a>
                            <a class="item" href="#p3">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Noël de groupe</div>
                                </div>
                            </a>
                            <a class="item"  href="#p4">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Formation J+S</div>
                                </div>
                            </a>
                            <a class="item" href="#p5">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header"> Informatique</div>
                                </div>
                            </a>
                            <a class="item" href="#p6">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header"> Rénouvellement du matériel</div>
                                </div>
                            </a>
                        </div>
                    </div>
                  </div>
                  <div class="ui three top attached ordered steps">
                      <div class="completed step">
                          <div class="content">
                              <div class="title">Ordre du jour</div>
                              <div class="description">L'ordre du jour a été écrit </div>
                          </div>
                      </div>
                      <div class="completed step">
                          <div class="content">
                              <div class="title">Convocation</div>
                              <div class="description">Les invitations à la séance ont étés envoyées</div>
                          </div>
                      </div>
                      <div class="active step">
                          <div class="content">
                              <div class="title">Procès verbal</div>
                              <div class="description">Le procès verbal n'est pas encore complet</div>
                          </div>
                      </div>
                  </div>
                <div class="ui pointing secondary menu tab_controller">
                  <a class="item active" data-tab="accueil">Accueil</a>
                  <a class="item" data-tab="oj">Ordre du jour</a>
                  <a class="item" data-tab="presence">Présences</a>
                </div>
                <div class="ui tab segment active" data-tab="accueil">
                    <h3 class="ui dividing header" id="p1"> Tour des branches
                        <div class="ui red label small">Important <i class="close icon"></i></div>
                        <div class="ui orange label small">A rediscuter <i class="close icon"></i></div>
                        <a class="ui label blue small tag-popup"><i class="add fitted icon"></i>...</a>
                    </h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <h3 class="ui dividing header" id="p2"> Soirée des parents
                        <a class="ui label blue small popupable connectTag tag-popup" data-id="1"><i class="add fitted icon"></i>...</a></h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <h3 class="ui dividing header" id="p3"> Noël de groupe <a class="ui label blue small tag-popup"><i class="add fitted icon"></i>...</a></h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <h3 class="ui dividing header" id="p4"> Formation J+S<a class="ui label blue small tag-popup"><i class="add fitted icon"></i>...</a></h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <h3 class="ui dividing header" id="p5"> Informatique<a class="ui label blue small tag-popup"><i class="add fitted icon"></i>...</a></h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    <h3 class="ui dividing header" id="p6"> Renouvellement du matériel<a class="ui label blue small tag-popup"><i class="add fitted icon"></i>...</a></h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                    n<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo turpis eget sapien semper tincidunt. Fusce id enim massa. In hac habitasse platea dictumst. Phasellus ut malesuada erat. Nulla in tempor ex. Nunc efficitur efficitur diam pharetra condimentum. Sed vitae diam nec tellus egestas ultrices et nec ligula. In erat velit, ultrices in euismod non, posuere vitae erat.</p>
                </div>
                <div class="ui tab segment" data-tab="oj">
                    <div class="ui list">
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">
                                    <span href="#" class="xeditable editable-click" data-pk="12" data-url="/interne/validation/ajax/modify-property"
                                    data-name="point_id" data-value="Tour des branches" data-type="text">Tour des branches</span>
                                </div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">
                                    <span href="#" class="xeditable editable-click" data-pk="12" data-url="/interne/validation/ajax/modify-property"
                                    data-name="point_id" data-value="Tour des branches" data-type="text">Soirée des parents</span>
                                </div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">
                                    <span href="#" class="xeditable editable-click" data-pk="12" data-url="/interne/validation/ajax/modify-property"
                                    data-name="point_id" data-value="Noël de groupe" data-type="text">Noël de groupe</span>
                                </div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">
                                    <span href="#" class="xeditable editable-click" data-pk="12" data-url="/interne/validation/ajax/modify-property"
                                    data-name="point_id" data-value="Formation J+S" data-type="text">Formation J+S</span>
                                </div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">
                                    <span href="#" class="xeditable editable-click" data-pk="12" data-url="/interne/validation/ajax/modify-property"
                                    data-name="point_id" data-value="Informatique" data-type="text">Informatique</span>
                                </div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">
                                    <span href="#" class="xeditable editable-click" data-pk="12" data-url="/interne/validation/ajax/modify-property"
                                    data-name="point_id" data-value="Renouvellement du matériel" data-type="text">Renouvellement du matériel</span>
                                </div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                    <div class="ui small form">
                                        <div class="field"><input placeholder="Ajouter un point"type="text"></div>
                                    </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="presence">
                  Third
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    {% javascripts
    '@InterneSeanceBundle/Resources/public/js/Meeting/page_manageMeeting_linkTag.js'
    '@InterneSeanceBundle/Resources/public/js/Meeting/page_seance.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
