/* content.min.css overrides */
body {
	background-color: #EBEDEF;
	margin-top: 20px;
}

/* Semantic UI overrides */

.ui.menu .item {
	outline: none;
}

.ui.menu .item.popup-activate:hover {
	background: rgba(0, 0, 0, 0.03);
}

.ui.menu .item.small label {
	font-size: 1rem;
}

.ui.menu .item.small {
	font-size: 0.6rem
}

.ui.steps .step.custom.start {
	padding:5px;
	padding-left:5px;
	padding-right: 15px;
	font-size: 0.7rem;
}

.ui.steps .step.custom.end {
	padding:5px;
	padding-left:15px;
	padding-right: 15px;
	font-size: 0.7rem;
}

.ui.dropdown .menu .item a {
	color: rgba(0, 0, 0, 0.8);
}

.ui.form.custom.error .input .error.message {
	margin-top:10px;
	margin-bottom: 2px;	
}

.input {
	margin-bottom: 5px;
}

/*
.ui.cards .yellow.card, .ui.cards .red.card, .ui.cards .green.card {
	box-shadow: 0px 2px 5px 0px #A7A9AC;
}
*/

/* XEditable angular overrides */
.ui.header.editable-click, .ui.header.editable-click:last-child, .editable-click, .editable-click:hover, a.editable-click, a.editable-click:hover {
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.15);
	padding-left: 2px;
	padding-right: 2px;
	color: rgba(0, 0, 0, 0.8);
}

.editable-click:hover, a.editable-click:hover {
	background-color: rgba(0,0,0, 0.05);
}